<td-layout-nav logo="assets:bongang" class="white-orange">
  <!--<div td-toolbar-content layout="row" layout-align="start center" flex>
    
    <span flex></span>
    <button md-icon-button [mdMenuTriggerFor]="notificationsMenu" mdTooltip="Templates">
      <td-notification-count color="accent" [notifications]="4">
        <md-icon>apps</md-icon>
      </td-notification-count>
    </button>
    <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Templates</div>
        <md-nav-list dense>
          <a md-list-item [routerLink]="['/templates']">
            <md-icon md-list-avatar>system_update_alt</md-icon>
            <h4 md-line><span class="text-wrap">Landing Page</span></h4>
            <p md-line>a landing page template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/dashboard']">
            <md-icon md-list-avatar>dashboard</md-icon>
            <h4 md-line><span class="text-wrap">Dashboard</span></h4>
            <p md-line>an ngx-charts dashboard template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/email']">
            <md-icon md-list-avatar>email</md-icon>
            <h4 md-line><span class="text-wrap">Email App</span></h4>
            <p md-line>an email app template</p>
          </a>
          <md-divider></md-divider>
          <a md-list-item [routerLink]="['/templates/editor']">
            <md-icon md-list-avatar>view_array</md-icon>
            <h4 md-line><span class="text-wrap">IDE Editor</span></h4>
            <p md-line>an IDE text editor app template</p>
          </a>
        </md-nav-list>
        <a md-button color="accent" td-menu-footer href="https://github.com/asif633"
          target="_blank">
          View Code
          </a>
      </td-menu>
    </md-menu>
    <a md-icon-button href="https://github.com/asif633"
      target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>-->

  <section class="bgc-light-blue-600 tc-light-blue-50" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <h1 class="md-headline text-upper text-center tc-grey-50 push-bottom">Generate Angular2 codes seamlessly</h1>
    <div layout="row" layout-align-gt-xs="center center">
      <div flex-gt-xs="80" layout="row" layout-wrap>
        <div class="text-center" flex-xs="30" flex-gt-xs="20">
          <md-icon class="tc-grey-50 md-display-2">system_update_alt</md-icon>
          <div class="pad-bottom-md"> Choose CSS Framework </div>
        </div>
        <div class="text-center" flex-xs="30" flex-gt-xs="20">
          <md-icon class="tc-grey-50 md-display-2">arrow_forward</md-icon>
          <div class="pad-bottom-md"> Next Step</div>
        </div>
        <div class="text-center" flex-xs="30" flex-gt-xs="20">
          <md-icon class="tc-grey-50 md-display-2 ">dashboard</md-icon>
          <div class="pad-bottom-md">Define Models</div>
        </div>
        <div class="text-center" flex-xs="30" flex-gt-xs="20">
          <md-icon class="tc-grey-50 md-display-2">arrow_forward</md-icon>
          <div class="pad-bottom-md"> Next Step</div>
        </div>
        <div class="text-center" flex-xs="30" flex-gt-xs="20">
          <md-icon class="tc-grey-50 md-display-2">get_app</md-icon>
          <div class="pad-bottom-md">Download App</div>
        </div>

      </div>
    </div>
  </section>
  <!--Product Card code starts here-->
  <section class="bgc-blue-grey-50" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-sm="row" flex-gt-xs="70" layout-margin>
        <div flex-gt-xs="50">
          <md-card>
            <md-toolbar color="accent" class="bgc-light-blue-500 push-bottom">
              <span class="text-upper">Angular 2 Firebase App</span>
            </md-toolbar>
            <md-card-subtitle>Features</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Angular2 Firebase app with CRUD of the models</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Css frameworks</h4>
                <p md-line>covalent-material , bootstrap, primeng etc.</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Widgets with model code</h4>
                <p md-line>Card, List, Datatable etc.</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Great starting point.</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>It is time saving.</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Note:: App is depended upon angular-cli.</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>

        <div flex-gt-xs="50">
          <md-card>
            <md-toolbar color="accent" class="bgc-orange-700 push-bottom">
              <span class="text-upper">Angular 2 Ngrx App</span>
            </md-toolbar>
            <md-card-subtitle>Features</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Angular2 Api app with CRUD of the models</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Css frameworks</h4>
                <p md-line>covalent-material , bootstrap, primeng etc.</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Widgets with model code</h4>
                <p md-line>Card, List, Datatable etc.</p>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Great starting point.</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>It is time saving.</h4>
              </md-list-item>
              <md-divider md-inset></md-divider>
              <md-list-item>
                <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                <h4 md-line>Note:: App is depended upon angular-cli.</h4>
              </md-list-item>
            </md-list>
          </md-card>
        </div>
      </div>
    </div>
  </section>
  <section class="bgc-blue-grey-50" tdMediaToggle="gt-xs" [mediaClasses]="['pad-bottom-xl']">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-sm="column"  flex-gt-xs="70" >
        <div flex-lg="100"  >
          <md-card>
            <md-toolbar color="accent" class="bgc-light-blue-500 push-bottom">
              <span>How to use the app?</span>
            </md-toolbar>
            <md-card-content>
              <h4> 1. Sign in using your google account, using left side bar </h4>
              <h4> 2. Choose Angular2 Firebase app in the side bar </h4>
              <h4> 3. Start by naming your project and choosing the css framework </h4>
              <h4> 4. Change theme colors if available and needed </h4> 
              <h4> 5. Next tab add your models along with their specific fields </h4>
              <h4> 6. Choose available widgets and map to the specific fields </h4>
              <h4> 7. Click on generate app </h4>
              <h4> 8. App download link will appear </h4>
              <h4> 9. Extract the app, and cd to app folder </h4>
              <h4> 10. You will need angular-cli to run the app </h4>
              <h4> 11. You should have global angular cli; npm install -g @angular/cli </h4>
              <h4> 12. Then run npm install </h4>
              <h4> 13. Lastly run ng serve </h4>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="bgc-blue-600">
    <div layout-gt-xs="row">
      <div flex class="bg-cover" style="background-image:url('https://assets.entrepreneur.com/static/1425478689-vince-vaughn-appearing-free-cheesy-stock-images-you-can-download-getty-2.jpg');background-size:cover;">
      </div>
      <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xxl']">
        <div class="push-top-xxl" hide-xs></div>
        <h3 class="md-display-1 tc-white push-top-xs push-bottom-sm">Contact Our Company</h3>
        <p class="md-title tc-blue-50">Ready to make dive into Angular 2? Clone this repo and get started today!</p>
        <button md-raised-button color="accent" class="push-bottom">Contact Us</button>
        <div class="push-top-xxl" hide-xs></div>
      </div>
    </div>
  </section>-->
  <section class="bgc-light-blue-600 tc-light-blue-50">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-xs="row" flex-gt-xs="75" layout-align-gt-xs="center center" layout-margin layout-padding>
        <div flex>
          <md-nav-list>
            <a href="https://angular.io/" target="_blank">
              <img src="../assets/icons/angular.svg" height="90px">
            </a>
          </md-nav-list>
        </div>
        <div flex>
          <md-nav-list>
            <a href="https://teradata.github.io/covalent/#/" target="_blank">
              <img src="../assets/icons/covalent-mark.svg" height="80px">
            </a>
          </md-nav-list>
        </div>
        <div flex>
          <md-nav-list>
            <a href="http://www.primefaces.org/primeng/#/" target="_blank">
              <img src="../assets/icons/primeng-sidebar.svg" height="80px">
            </a>
          </md-nav-list>
        </div>
        <div flex-gt-xs="10">
        </div>
        <div flex layout="column" flex-gt-xs="30" layout-align="right right">
          <img src="../assets/icons/bongangwh.svg" height="80px">
          <p class="text-sm">&copy; Copyright 2017 Iphoidtech Pvt. Ltd., Inc. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
</td-layout-nav>
