<div layout-gt-md="row" layout-margin *ngIf="selModel">
  <div flex-gt-xs="50">
    <md-card>
      <md-card-title>Fields</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <td-data-table
          [data]="data$ | async"
          [columns]="columns"
          [selectable]="true"
          [multiple]="false"
          [sortable]="false"
          (rowSelect)="selectEvent($event)">
        </td-data-table>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-raised-button color="primary" (click)="addNew()">Add New</button>
      </md-card-actions>
   </md-card>
  </div>
  <div flex-gt-xs="50">
    <app-firebase-field [selField]="selectedField" (modelChanged)="getUpdatedModel($event)"></app-firebase-field>
  </div>
</div>